body {
    text-align: center;
}

/*选项卡*/

.top {
    width: 100%;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
}

.top-title{
    display: inline-block;
    margin: 0 auto;
    width: 1000px;
    height: 350px;
}
ul.tabs {
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    padding: 0;
}
ul.tabs li {
    float: left;
    cursor: pointer;
}
ul.tabs li a {
    position: relative;
    display: block;
    height: 30px;
    margin-top: 40px;
    padding: 10px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #3bba62;
    -webkit-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
    box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
    border: 0px solid #000000;
    -webkit-transition: padding 0.2s ease, margin 0.2s ease;
    -moz-transition: padding 0.2s ease, margin 0.2s ease;
    -o-transition: padding 0.2s ease, margin 0.2s ease;
    -ms-transition: padding 0.2s ease, margin 0.2s ease;
    transition: padding 0.2s ease, margin 0.2s ease;
}
.tabs li:first-child a {
    z-index: 3;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
}
.tabs li:nth-child(2) a {
    z-index: 2;
}
.tabs li:last-child a {
    z-index: 1;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
}
ul.tabs li a:hover {
    margin: 35px 0 0 0;
    padding: 10px 0 5px 0;
}
ul.tabs li a.active {
    margin: 30px 0 0 0;
    padding: 10px 0 10px 0;
    background: #95e09b;
    color: #000000;
    /*color: #ff6831;*/
    z-index: 4;
    outline: none;
}
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.group:after {
    clear: both;
}
#content {
    width: 1000px;
    height: auto;
    min-height: 200px;
    margin: 0 auto;
    padding-bottom: 60px;
    text-align: left;
    background: #95e09b;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#instruction{
    font-family: 'Open Sans', sans-serif;
    padding: 30px 40px;
    color: #000000;
    line-height: 26px;
    font-size: 18px;
    margin: 0;
    height: auto;
    min-height: 80px;
}
.start-btn{
    width: 1000px;
    position: relative;
    bottom: 60px;
    right: 0;
    z-index: 9;
    height: 60px;
    margin: 0;
}

#end,#start {
    float: left;
    margin-left: 40px;
    width: 75px;
    height: 36px;
    cursor: pointer;
    border-radius: 40px;
    background: #ffffff;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    outline: none;
    border: 2px solid  #3bba62;
    color: #3bba62;
}
#end:hover,#start:hover{
    transform: scale(1.1);
    background: #3bba62;
    color: #FFFFFF;
}
#start:disabled,#end:disabled{
    transform: none;
    cursor: default;
    background: #eaeaea;
    color: #3bba62;
}


#blance-title{
    color: #1b860f;
}


.Switch {
    margin: 0;
    margin-left: -560px;
    margin-top: -5px;
    padding: 0;
    display: inline-block;
}
.Switch li {
    clear: both;
    line-height: 44px;
    list-style: none;
}
.Switch input {
    display: none;
}
.Switch label {
    width: 52px;
    background: #CCC;
    height: 28px;
    border-radius: 14px;
    float: right;
    margin: 8px 10px 0 0;
    margin-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
.Switch label em {
    width: 26px;
    height: 26px;
    float: left;
    margin: 1px;
    border-radius: 13px;
    box-shadow: 2px 3px 8px rgba(0,0,0,.1);
    background: #FFF;
    transition: 0.1s;
    cursor: pointer;
}
.Switch input:checked + label {
    background: #3bba62;
}
.Switch input:checked + label em {
    margin: 1px 1px 1px 25px;
}
.Switch input:disabled + label {
    opacity: 0.5;
    cursor: default;
}


.charts {
    margin: 10px auto;
    margin-top: 30px;
    width: 500px;
    height: 360px;
    display: inline-block;
}

#warn{
margin-top: 30px;
}
#warn-title{
    font-size: 20px;
    font-weight: bolder;
}
#warn-list{
    width: 1000px;
    height: 600px;
    background: rgba(248, 241, 28, 0.29);
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 20px;
    border-radius: 15px;
    overflow-y: auto;
    -webkit-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 8px 25px -2px rgba(0,0,0,0.3);
    box-shadow: 8px 12px 25px 2px rgba(0,0,0,0.4);
}

.one-warn{
    margin: 10px auto;
    width: 800px;
    min-height: 100px;
    height: auto;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

#warn-list::-webkit-scrollbar {
    width: 8px;
    border-radius: 12px;
}

#warn-list::-webkit-scrollbar-track {
    border-radius: 12px;
}

#warn-list::-webkit-scrollbar-thumb {
    background: #ebb816;
    border-radius: 12px;
}

#warn-list::-webkit-scrollbar-thumb:hover {
    background: #ebea1a;
    cursor: pointer;
}

#warn-list::-webkit-scrollbar-corner {
    background: #ebb816;
}

#attack{
    border-radius: 40px;
    height: 40px;
    width: 100px;
    border: 2px solid  #F89406;
    outline: none;
    background: #FFFFFF;
    color: #F89406;
    left: 500px;
    cursor: pointer;
    position: absolute;
}
#attack:hover{
    color: #FFFFFF;
    background: #F89406;
}